<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @record.name %>
</p>

<p>
  <strong>Info:</strong>
  <%= @record.info %>
</p>

<p>
  <strong>Year:</strong>
  <%= @record.year %>
</p>

<p>
  <strong>Performer:</strong>
  <%= @record.performer_id %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
