<h1>
  <%= @band.name %>
</h1>

<p>
  <%= @band.info %>
</p>

<p>
  <strong>Formed:</strong>
  <%= @band.formed %>
</p>

<p>
  <strong>Status:</strong>
  <%= @band.status %>
</p>

<% if not @band.artists.empty? %>
<h3><%= pluralize(@band.artists.count, 'Member')%></h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
	<% @band.artists.each do |r| %>
    	<tr>
	      <td><%= link_to r.name, r%></td>
    	</tr>
	<%end%>
  </body>
</table>
<%end%>
<% if not @band.records.empty? %>
<h3><%= pluralize(@band.records.count, 'Record')%></h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
	<% @band.records.each do |r| %>
    	<tr>
	      <td><%= link_to r.name, r%></td>
    	</tr>
	<%end%>
  </body>
</table>
<%end%>

<p>
<% if current_user %>

<h3>Add an artist or record</h3>
<%= form_tag(add_artists_band_path, :method=>'put') do %>
 <p>
   <%= select_tag(:artist_id, options_from_collection_for_select(@artists, :id, :name)) %>
   <%= submit_tag 'Add member' %> 
</p>
<%end%>
<%= form_tag(add_records_band_path, :method=>'put') do %>
 <p>
   <%= select_tag(:record_id, options_from_collection_for_select(@records, :id, :name)) %>
   <%= submit_tag 'Add record' %> 
</p>
<%end%>  
</p>

<br>
<%= link_to edit_and_destroy_buttons(@band), class:"btn btn-primary" %>
<%end%>
